# In-Class Exercises 4

The data that you will use come from the [replication package]() to Ricardo Duque
Gabriel, Mathias Klein, and Ana Sofia Pessoa: *The Political Costs of Austerity*,
forthcoming at the Review of Economics and Statistics.

> **Note:**
> 
> Please commit every time you solve one of the exercises. An example commit message
> could be `"Solution to question 1"`. Feel free to commit more than once per
> exercise if solving it requires multiple complicated steps.
>
> Push every now and then and switch to somebody else's machine.

## Using the `pathlib` library

---
### Question 1

Assign the path of the current directory to a variable `this_dir`. 

Verify that the type of the variable is `pathlib.PosixPath` (`PosixPath` are used on Unix-like systems such as Linux ans macOS) or `pathlib.WindowsPath`. 

Display the absolute path of the directory.

In [1]:
from pathlib import Path
this_dir = Path(".")
this_dir

PosixPath('.')

In [2]:
this_dir.resolve()

PosixPath('/Users/malka/Dropbox/teaching-uliege/ HSG-8276-Spring-2025/m4-exercises')

---
### Question 2

In the `original_data` directory, there is a file called `Data_Elections.dta`. Assign
the path of this file to a variable `data_file`. The type of the variable should be 
`pathlib.PosixPath` or `pathlib.WindowsPath`. 

- When creating the `Path` object, do not use absolute paths.
- Display the absolute path of the `data_file`.

In [3]:
file = this_dir / "original_data" / "Data_Elections.dta"
file.exists()

True

---
### Bonus: Question 3 

This question is optional and meant to sharpen your theoretical understanding for absolute and relative paths. Skip if you want. 

Using only the objects `this_dir` and `data_file` along with their methods, get the relative path to `data_file` as seen from `this_dir`. Display the relative path.

> Note: We have not seen this in the screencast; you are on your own with your favourite
> search engine.

## pandas

---
### Question 4

- Import the `pandas` library as `pd`.

In [4]:
import pandas as pd

The following options are useful:
- With these options, you use "modern" Pandas. 
- It sets the plotting backend to `plotly`.

In [5]:
pd.options.mode.copy_on_write = True 
pd.options.future.infer_string = True
pd.options.plotting.backend = "plotly"


---
### Question 5

Read the file `Data_Elections.dta` into a `pd.DataFrame` object called `data`. Use the
`data_file` object for doing so.

You are likely to get an error when doing so. Find out
how to fix it. *(Hint: The error message is even more explicit than usually in Python;
you may want to have a carefully look at it despite its length. If working in VS Code,
make sure that you can see the entire message by selecting from the view options at the
bottom of the cell output)*

In [6]:
df = pd.read_stata(file, convert_categoricals=False)

---
### Question 6

Familiarise yourself with the dataset. E.g., you may want to look the column names, the
shape, some rows, data types ...

In [7]:
df.head(10)

,Country,cid,Nuts_id,Name,Year,ElectionType,EligibleVoters,Valid,HHI,Far_Right,Far_Left,Far_Right_share,Far_Left_share,Far_share,Turnout,F0Far_Incumbent,left,id
0,Austria,1.0,AT11,Burgenland (AT),1980.0,NaN,192225.0,180717.0,0.474132,4941.0,694.0,0.027341,0.003840,0.031181,0.949138,0.0,1.0,1.0
1,Austria,1.0,AT11,Burgenland (AT),1981.0,NaN,192225.0,180717.0,0.474132,4941.0,694.0,0.027341,0.003840,0.031181,0.949138,0.0,1.0,1.0
2,Austria,1.0,AT11,Burgenland (AT),1982.0,3.0,198000.0,173691.0,0.469377,5559.0,942.0,0.032005,0.005423,0.037429,0.900672,0.0,1.0,1.0
3,Austria,1.0,AT11,Burgenland (AT),1983.0,1.0,197459.0,184704.0,0.460471,4090.0,543.0,0.022144,0.002940,0.025083,0.947716,4090.0,1.0,1.0
4,Austria,1.0,AT11,Burgenland (AT),1984.0,NaN,197459.0,184704.0,0.460471,4090.0,543.0,0.022144,0.002940,0.025083,0.947716,4090.0,1.0,1.0
5,Austria,1.0,AT11,Burgenland (AT),1985.0,NaN,197459.0,184704.0,0.460471,4090.0,543.0,0.022144,0.002940,0.025083,0.947716,4090.0,1.0,1.0
6,Austria,1.0,AT11,Burgenland (AT),1986.0,1.0,200572.0,185497.0,0.426760,9985.0,626.0,0.053828,0.003375,0.057203,0.937663,0.0,1.0,1.0
7,Austria,1.0,AT11,Burgenland (AT),1987.0,3.0,203012.0,175766.0,0.402181,12855.0,991.0,0.073137,0.005638,0.078775,0.890026,0.0,1.0,1.0
8,Austria,1.0,AT11,Burgenland (AT),1988.0,NaN,203012.0,175766.0,0.402181,12855.0,991.0,0.073137,0.005638,0.078775,0.890026,0.0,1.0,1.0
9,Austria,1.0,AT11,Burgenland (AT),1989.0,NaN,203012.0,175766.0,0.402181,12855.0,991.0,0.073137,0.005638,0.078775,0.890026,0.0,1.0,1.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4536 entries, 0 to 4535
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          4536 non-null   string
 1   cid              4536 non-null   float32
 2   Nuts_id          4536 non-null   string
 3   Name             4536 non-null   string
 4   Year             4536 non-null   float64
 5   ElectionType     2362 non-null   float32
 6   EligibleVoters   4456 non-null   float64
 7   Valid            4456 non-null   float64
 8   HHI              4456 non-null   float32
 9   Far_Right        4456 non-null   float64
 10  Far_Left         4456 non-null   float64
 11  Far_Right_share  4456 non-null   float32
 12  Far_Left_share   4456 non-null   float32
 13  Far_share        4456 non-null   float32
 14  Turnout          4445 non-null   float32
 15  F0Far_Incumbent  4536 non-null   float32
 16  left             4472 non-null   float32
 17  id               4536 non-null   float32
dtypes: float32(10), float64(5), string(3)
memory usage: 559.9 KB

In [9]:
df.columns[3]

'Name'

---
### Question 7

We had to discard some information when reading the dataset. Luckily, we can access all
of it using a low-level `pd.io.StataReader` object. This will allow us to look at all meta
information that is stored with the dataset in Stata format.

Create `data_info` that contains the `pd.io.stata.StataReader` object. Use the `data_file` object for
doing so.

In [10]:
data_info = pd.io.stata.StataReader(file)

In [11]:
data_info.variable_labels()

{'Country': '',
 'cid': 'group(Country)',
 'Nuts_id': 'Nuts ID',
 'Name': 'Nuts Name',
 'Year': '',
 'ElectionType': 'Type of Election(s) occurring in a specific year',
 'EligibleVoters': 'Number of total voters',
 'Valid': 'Number of total valid votes',
 'HHI': 'Effective Number of Parties',
 'Far_Right': 'Total number of votes in far right parties',
 'Far_Left': 'Total number of votes in far left parties',
 'Far_Right_share': '',
 'Far_Left_share': '',
 'Far_share': '',
 'Turnout': 'Share of Total Votes over Eligible Voters',
 'F0Far_Incumbent': 'Number of votes of far parties part of the government',
 'left': "1 if the incumbent government's prime-minister belongs to a left-leaning party",
 'id': 'group(Nuts_id)'}

In [12]:
data_info.value_labels()

{'ElectionType': {1: 'National',
  2: 'European',
  3: 'Regional',
  4: 'National + European',
  5: 'National + Regional',
  6: 'European + Regional + European',
  7: 'National + Regional',
  8: '2 National',
  9: '2 Regional',
  10: 'European + 2 Regional'}}

In [13]:
data_info.data_label

''

Look at the various `labels` attributes of the `pd.StataReader` object. Explain what
they do. Can you explain now why the error occurred when reading the dataset?

---
### Question 8

Look at the structure of `data` again. Would you keep all of

- `Country` and `cid`?
- `Nuts_id`,  `Name`, and `id`?

Why or why not?

---
### Bonus: Question 9 (only if you have some time left)

This question is optional and means to justify why we can drop `cid` and `id`.

Make sure that we can safely drop `cid` and `id` from the dataset by finding out the unique combinations of the sets of variables from the previous question.

> Note: The `.unique()` method only works on Series, you'll need to use `.drop_duplicates()`.

---
### Question 10

Drop `cid` and `id` from the dataset, which you should continue to store in the variable
`data`. Verify that the columns are gone.

To do so, you can either use the `drop(columns=[...])` method or select those columns
that you want to keep (there are even more options). Can you think of a reasons for each
strategy, particularly in an interactive setting like a notebook?

In [ ]:
df = df.drop(columns=["cid", "id"])
df.columns

Index(['Country', 'Nuts_id', 'Name', 'Year', 'ElectionType', 'EligibleVoters',
       'Valid', 'HHI', 'Far_Right', 'Far_Left', 'Far_Right_share',
       'Far_Left_share', 'Far_share', 'Turnout', 'F0Far_Incumbent', 'left'],
      dtype='string')

---
### Question 11

Give the columns (more) sensible names using the `lowercase_with_underscores`
convention. You should continue to store the dataset in the variable `data`. 

> Note: While trying out, you don't want to assign to `data` yet because once you change
> the column names, you cannot access the old ones anymore. That will eventually be 
> fine, but not in the interactive setting yet.

> Tip: You can just copy the output of the `variable_labels()` call above to get
> started.

In [17]:
renamed_columns = {
        "Country": "country",
        "Nuts_id": "nuts_id",
        "Name": "nuts_name",
        "Year": "year",
        "ElectionType": "election_type",
        "EligibleVoters": "number_eligible_voters",
        "Valid": "number_valid_votes",
        "HHI": "number_parties_effective",
        "Far_Right": "number_votes_far_right",
        "Far_Left": "number_votes_far_left",
        "Far_Right_share": "share_votes_far_right",
        "Far_Left_share": "share_votes_far_left",
        "Far_share": "share_votes_far_any",
        "Turnout": "share_voter_turnout",
        "F0Far_Incumbent": "number_votes_far_any_incumbent",
        "left": "pm_party_left",
    }

In [18]:
df = df.rename(columns=renamed_columns)
df.columns

Index(['country', 'nuts_id', 'nuts_name', 'year', 'election_type',
       'number_eligible_voters', 'number_valid_votes',
       'number_parties_effective', 'number_votes_far_right',
       'number_votes_far_left', 'share_votes_far_right',
       'share_votes_far_left', 'share_votes_far_any', 'share_voter_turnout',
       'number_votes_far_any_incumbent', 'pm_party_left'],
      dtype='string')

---
### Question 12

Convert all variables to sensible data types. In some cases, you may want to keep the column names, in some cases you may want to generate new ones. Briefly explain all of  your choices.

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4536 entries, 0 to 4535
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country                         4536 non-null   string
 1   nuts_id                         4536 non-null   string
 2   nuts_name                       4536 non-null   string
 3   year                            4536 non-null   float64
 4   election_type                   2362 non-null   float32
 5   number_eligible_voters          4456 non-null   float64
 6   number_valid_votes              4456 non-null   float64
 7   number_parties_effective        4456 non-null   float32
 8   number_votes_far_right          4456 non-null   float64
 9   number_votes_far_left           4456 non-null   float64
 10  share_votes_far_right           4456 non-null   float32
 11  share_votes_far_left            4456 non-null   float32
 12  share_votes_far_any             4456 non-null   float32
 13  share_voter_turnout             4445 non-null   float32
 14  number_votes_far_any_incumbent  4536 non-null   float32
 15  pm_party_left                   4472 non-null   float32
dtypes: float32(8), float64(5), string(3)
memory usage: 524.4 KB

#### `"country", "nuts_id", "nuts_name"` to `pd.CategoricalDtype()`

This can be done in one step because the variables already have sensible labels.

In [20]:
for column in ["country", "nuts_id", "nuts_name"]:
    df[column] = df[column].astype(pd.CategoricalDtype())
df[["country", "nuts_id", "nuts_name"]].head()

   country nuts_id        nuts_name
0  Austria    AT11  Burgenland (AT)
1  Austria    AT11  Burgenland (AT)
2  Austria    AT11  Burgenland (AT)
3  Austria    AT11  Burgenland (AT)
4  Austria    AT11  Burgenland (AT)

### `year` to a `pd.Int16Dtype()`

### `election_type` to a `pd.CategoricalDtype()`

The labels are not meaningful, but we can use the `value_labels` attribute of the
   `pd.StataReader` object to get the labels.

1. Create `election_cats`, a dictionary with the labels from the `value_labels`) 
2. Replace the duplicated label with `National + Regional A` and `National + Regional B`
3. First, convert `election_type` to a `pd.Int8Dtype()` and then to a `pd.CategoricalDtype()`
4. Last, you can use the `election_cats` dictionary to convert the labels to a
   `pd.CategoricalDtype()`.

### Round and convert all columns starting with `number` to `pd.Int32Dtype()` (except for `number_parties_effective`)

### `pm_party_left` to `pd.CategoricalDtype()`
- Convert it first to a `pd.Int8Dtype()` and then to a `pd.CategoricalDtype()`
- You can then rename the categories to meaningful labels

---
### Question 13

Summarise the cleaned data in a similar way as above. Now also look at summary
statistics, including value counts of categorical variables. Do you notice anything
when doing the latter? If so, will you have to be careful for interpreting descriptive
statistics?

---
### Question 14

Make three plots of mean vote shares by year, across all NUTS regions and elections.
- far right share
- far left share
- far share (any)

Don't worry about whether these plots make a lot of sense (i.e., any weighting with
electorate size or the like).

---
### Question 15

Make three scatterplots of vote shares by year, across all NUTS regions and elections.

- far right share
- far left share
- far share (any)

Colour the dots using the country.